@font-face {
  font-family: 'iconfont';  /* project id 1759290 */
  src: url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.eot');
  src: url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.woff') format('woff'),
  url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1759290_ff41gtvgg4.svg#iconfont') format('svg');
}

$iconColor = $color-text-info
$iconColor2 = $color-line-input
$iconActiveColor = $color

//nav  三横杆
.icon-nav
  ss-icon($icon-nav, 22px)
//下拉
.icon-select
  ss-icon($inputSelect, $space: $tips-mg-sm)

//问号 圆圈中间带问号
.icon-question
  ss-icon('\e79d', 16px, $iconColor, true, $space: $tips-mg-sm)

//del 
.icon-del-primary
  ss-icon($icon-del, 12px)
//圆圈中间带叉叉
.icon-del
  ss-icon('\e648', 16px, $iconColor2, $activeColor: $iconActiveColor)


.icon-arrow-left
  ss-icon($arrow-left, $color: $iconActiveColor, $disabledColor: $iconColor2)
.icon-arrow-right
  ss-icon($arrow-right, $color: $iconActiveColor, $disabledColor: $iconColor2)

.icon-warning
  ss-icon($icon-warning, 16px, $color-warning, true, $space: $tips-mg-sm)

//加载
.icon-loading
  ss-icon($icon-loading, 16px, $isFlex: true)
  animation: rotating 2s linear infinite

@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}