//没有数据时
.nodata
  text-align: center
  margin: auto
  .item-pic
    width: 130px
    height @width
    margin: 0 auto 30px
    img 
      width: 100%
      height auto
  .item-tilte
    color: $color
    font-size: $size-title
    font-weight: bold
    margin-top: 19px // 22-3 = 19
    margin-bottom: 4px //10 - 6 = 4
  .item-desc
    {config-desc}
  .item-btn
    margin: 19px auto 0 // 22-3 = 19