//自定义表格
logCfg = {
  $text-align:    left 
  $headFw:        true
  $paddingTthead: 12px 10px
  $padding: 15px 10px
  $headBg:        $color-bg-primary
  $headColor:     $color-text-title
  $headHeight:    46px
  $borderLine:    $color-line-secondary
}
ss-table('.ss-table-log', logCfg)

.apply-detail
  ss-table-border($color-line-secondary, $direction: bottom)
  border-left: none
  .hbody
    ss-display-flex(row wrap, flex-start)
    >.hb-item
      width: 50%
  .item-title
    width: 30%
  .item-desc
    flex: 1
    color: $color-text-title
  .ss-table-sx
    border-left: 1px solid $color-line-secondary
    display: inline-flex
    &:last-child
      .ss-table-td
        border-bottom: none
  .ss-table-td
    padding: 10px
    display: table-cell