@import '../common/css/index'
@import '../common/config/iconfont'
@import '../common/css/icon'
@import '../common/css/button'
@import '../common/css/tag'
@import '../common/css/width'
@import '../common/css/padding'
@import '../common/css/margin'
@import '../common/css/title'


//form表单
@import '../common/modules/form/index'
//modal
@import '../common/modules/modal/index'
//加载动画
@import '../common/modules/load/index'
//tabs组件
@import '../common/modules/tabs/index'
//upload上传组件
@import '../common/modules/uploader/index'
//日历控件
@import '../common/modules/datetimepicker/index'


@import '../common/css/pages/margin'
//没有数据
@import '../common/css/nodata'
//搜索条件
@import '../common/css/pages/_searchbox'
//boostrtap table 补充
@import '../common/css/pages/_table'


//业务代码
@import './_common/*'

//页面布局选择模板
@import '../common/cssFunc/pages/routerconfig/routerStyle3'
@import '../common/cssFunc/pages/adminrouter'

//路由 布局
.wrap
  width: 100%
  height: 100%
  overflow: hidden
  ss-display-flex(column)
  ss-root-header('.headerx')
  .bodyx
    height: calc(100% - 60px)
    position: relative
    z-index: 1
  .headerx
    z-index: 2
ss-admin()

//路由 end

.pages-wrapper
  ss-display-flex(column)
  box-sizing: border-box;
  height 100%
  padding: $space-minor 0
  .pages-header
    margin-bottom: 15px
  .pages-body
    flex: 1
  .pages-footer
    box-shadow: $box-shadow-top
    height 80px
    ss-display-flex(row, center, center)
    margin-bottom: -($space-minor)
ss-func-customscroll('.pages-body', {$height: false})

.bodyx
  background: url('/images/bg.png') no-repeat $color-bg
  background-size: contain;
  background-position: top center;

/*******菜单 icon*********/
  ss-icon-func('.item-icon-member', '\e7a1')    //会员
  ss-icon-func('.item-icon-agent', '\e7a2')     //分销商
  ss-icon-func('.item-icon-tourguide', '\e7a3') //攻略
  ss-icon-func('.item-icon-ticketset', '\e7a4') //套票
  ss-icon-func('.item-icon-food', '\e7a5')      //食材
  ss-icon-func('.item-icon-order', '\e7a6')     //订单
/*******菜单 icon end*********/

// em 
//   font-style: normal

// .ss-hidden
//   visibility: hidden
