@font-face {
  font-family: 'iconfont';  /* project id 1946381 */
  src: url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.eot');
  src: url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.woff') format('woff'),
  url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1946381_9rnemqkj6oe.svg#iconfont') format('svg');
}