//input 
// 下拉
$inputSelect = '\e64e'
// 日期
$inputDate = '\e605'
//加减号
$inputAddIcon = '\e840'
$inputMinusIcon = '\e83f'
//radio checkbox
$radio = '\e76a'
$radioChecked = '\e76b'
$checkbox = '\e762'
$checkboxChecked = '\e766'

//箭头左右
$arrow-left = '\e81b'
$arrow-right = '\e81c'

//加载
$icon-loading = '\e607'

//waning
$icon-warning = '\e621'

//nav 删除
$icon-del = '\e606'

//nav 三横杆
$icon-nav = '\e66b'