
loginCfg = {
  $width: 300px
  $bg: $color-bg-primary
  $br: $br
  $padding: $space
  $inputHei: 40px
  $br: $br-lg
}
ss-login($class = '.login-form', $config = false)
  cfg = merge({}, loginCfg, $config)
  .pages-login
    background: fade-out(#000, .5)
    width: 100%
    height: 100%
    position: relative
    @extends $column-center-center
    // .item-header
    //   // position: absolute
    //   // bottom: 30px
    //   color: $color-text-disabled
    //   font-size: $size-sm
    .item-copyright
      // position: absolute
      // bottom: 30px
      margin-top: 40px
      color: $color-text-disabled
      font-size: $size-sm
  .pages-login-logo
    position: absolute
    top: -64px
    left: 0
  .pages-login-body
    @extends $flex-nowrap
    background: $br-lg
    background: cfg.$bg
    border-radius: cfg.$br
    padding: cfg.$padding
    position: relative
  {$class}
    width: cfg.$width
    margin-left: 80px
    margin-bottom: -15px
    .checkboxGroup
      margin-bottom: 32px
    .inputItem
      margin-bottom: 15px
      &.item-code
        position: absolute
        right: 0
        bottom: 0
        height: cfg.$inputHei
        width: 110px
        border-left: 1px solid $borderColor
        cursor: pointer
        margin: 0
        .form-span
          display: block
          height: 100%
        img
          width: 100%
          height: 100%
      &.item-btn
        font-weight: bold
        font-size: 16px
        margin-top: 40px
    .fkp-content
      flex: 1
      @extends $column
      input
        order: 2
    button, input
      border-radius: @border-radius
      width: 100%
      height: cfg.$inputHei
    .checkboxItem
      margin: 0
      color: #666
      .fkp-content
        flex: inherit
    .warning,.error
      margin-bottom: 10px
    

